.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 799.9499999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u231
{
	z-index: 71;
	width: 1281px;
	height: 91px;
	border-color: #000000;
	background-color: #1B2328;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -641px;
}

#u232
{
	z-index: 73;
	width: 1281px;
	border-color: #000000;
	padding-bottom: 391px;
	left: -1px;
	position: relative;
	background: #FFFFFF url("../images/bici_gris-u232-fr.png") no-repeat center top;
	background-color: rgba(255, 255, 255, 0.9);
	background-size: cover !important;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 1px;
}

#u237
{
	z-index: 91;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 294px;
}

.js #u237.pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pu280
{
	width: 0.01px;
	padding-bottom: 91px;
	margin-left: 20px;
	top: -767px;
	margin-bottom: -91px;
	position: relative;
}

#u280
{
	z-index: 72;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: -626px;
}

#u415
{
	z-index: 101;
	width: 106px;
	height: 91px;
	border-color: #000000;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 75px;
}

#u415:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0px 0px 0px 75px;
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u396-4
{
	z-index: 78;
	width: 105px;
	min-height: 37px;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 33px;
	left: 50%;
	margin-left: 76px;
}

#u413
{
	z-index: 100;
	width: 106px;
	height: 91px;
	border-color: #000000;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 180px;
}

#u413:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0px 0px 0px 180px;
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u233-4
{
	z-index: 74;
	width: 105px;
	min-height: 37px;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 34px;
	left: 50%;
	margin-left: 181px;
}

#u416
{
	z-index: 102;
	width: 106px;
	height: 91px;
	border-color: #000000;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 285px;
}

#u416:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0px 0px 0px 285px;
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u235-4
{
	z-index: 86;
	width: 105px;
	min-height: 37px;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 34px;
	left: 50%;
	margin-left: 286px;
}

#u417
{
	z-index: 103;
	width: 106px;
	height: 91px;
	border-color: #000000;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 393px;
}

#u417:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0px 0px 0px 393px;
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u234-4
{
	z-index: 82;
	width: 105px;
	min-height: 37px;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 34px;
	left: 50%;
	margin-left: 392px;
}

#u236
{
	z-index: 90;
	width: 93px;
	height: 37px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: fixed;
	top: 21px;
	left: 50%;
	margin-left: 517px;
}

#u238-4
{
	z-index: 92;
	width: 105px;
	min-height: 37px;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 33px;
	left: 50%;
	margin-left: 514px;
}

#u418
{
	z-index: 104;
	width: 96px;
	height: 40px;
	border-color: #000000;
	background-color: transparent;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 519px;
}

#u418:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0px 0px 0px 519px;
	-pie-background: rgba(255, 255, 255, 0.2);
}

#about
{
	margin-top: 35px;
	position: relative;
}

#ppu460-4
{
	width: 0.01px;
	margin-left: 131px;
	margin-top: 114px;
	position: relative;
}

#pu460-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
}

#u460-4
{
	z-index: 28;
	width: 566px;
	min-height: 81px;
	text-align: right;
	font-size: 30px;
	line-height: 36px;
	color: #406164;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
}

#u130-7
{
	z-index: 21;
	width: 560px;
	min-height: 196px;
	text-align: right;
	font-size: 24px;
	line-height: 29px;
	color: #7F7F7F;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 6px;
	position: relative;
}

#u186
{
	z-index: 20;
	width: 414px;
	height: 463px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 595px;
	background: #FFFFFF url("../images/iphone-02.png") no-repeat center top;
	background-size: cover !important;
}

#pu208
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u208
{
	z-index: 2;
	width: 1280px;
	border-color: #000000;
	background-color: #F7F5F5;
	padding-bottom: 70px;
	position: relative;
	margin-right: -10000px;
}

#u201
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 76px;
}

#u185-16
{
	z-index: 3;
	width: 609px;
	min-height: 307px;
	text-align: left;
	font-size: 22px;
	line-height: 26px;
	color: #7F7F7F;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 366px;
	left: 525px;
}

#u462-4
{
	z-index: 35;
	width: 566px;
	min-height: 54px;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	color: #406164;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 498px;
}

#u463
{
	z-index: 39;
	width: 10px;
	height: 10px;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 498px;
}

#u465
{
	z-index: 40;
	width: 10px;
	height: 10px;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 498px;
}

#u466
{
	z-index: 41;
	width: 10px;
	height: 10px;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 480px;
	left: 498px;
}

#u467
{
	z-index: 42;
	width: 10px;
	height: 10px;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 561px;
	left: 498px;
}

#u468
{
	z-index: 43;
	width: 10px;
	height: 10px;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 613px;
	left: 498px;
}

#tech
{
	margin-top: 112px;
	position: relative;
}

#pu391
{
	width: 0.01px;
	margin-left: 132px;
	margin-top: 151px;
	position: relative;
}

#u391
{
	z-index: 44;
	width: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFEF;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	padding: 77px 33px 22.073597050683475px 32px;
}

#u388
{
	z-index: 68;
	width: 115px;
	height: 115px;
	border-color: #000000;
	opacity: 0.97;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
	filter: alpha(opacity=97);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 75px;
	position: relative;
	background: #81CCC5 url("../images/ic_location-u388-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u471-7
{
	z-index: 61;
	width: 262px;
	min-height: 165px;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	color: #7F7F7F;
	margin-top: 40px;
	position: relative;
}

#u392
{
	z-index: 45;
	width: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFEF;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 343px;
	padding: 77px 33px 22.073597050683475px 32px;
}

#u389
{
	z-index: 69;
	width: 115px;
	height: 115px;
	border-color: #000000;
	opacity: 0.97;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
	filter: alpha(opacity=97);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 74px;
	position: relative;
	background: #81CCC5 url("../images/ic_sensor-u389-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u470-7
{
	z-index: 54;
	width: 262px;
	min-height: 165px;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	color: #7F7F7F;
	margin-top: 40px;
	position: relative;
}

#u393
{
	z-index: 46;
	width: 240px;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFEF;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 687px;
	padding: 77px 44px 22.073597050683475px 43px;
}

#u390
{
	z-index: 70;
	width: 115px;
	height: 115px;
	border-color: #000000;
	opacity: 0.97;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
	filter: alpha(opacity=97);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 63px;
	position: relative;
	background: #81CCC5 url("../images/ic_bateria-u390-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u387-7
{
	z-index: 47;
	width: 240px;
	min-height: 165px;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	color: #7F7F7F;
	margin-top: 40px;
	position: relative;
}

#u471-2,#u470-2,#u387-2
{
	font-family: raleway, sans-serif;
	font-weight: 600;
}

#u471-3,#u471-5,#u470-3,#u470-5,#u387-3,#u387-5
{
	font-family: raleway, sans-serif;
	font-weight: 200;
}

#contact
{
	margin-top: 39px;
	position: relative;
}

#u252
{
	z-index: 32;
	width: 1280px;
	margin-top: 209px;
	position: relative;
}

#u140
{
	z-index: 33;
	width: 1280px;
	border-color: #000000;
	padding-bottom: 333px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/final_gris.jpg") no-repeat right center;
	background-size: cover !important;
}

#u251
{
	z-index: 34;
	width: 1280px;
	height: 118px;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#page .verticalspacer
{
	clear: both;
}

